
@define-color foreground rgba(255, 255, 255, 0.8);
@define-color background hsla(240, 12.7%, 13.9%, 0.98);
@define-color color1 hsl(172, 100%, 25.3%);

@define-color main_color #0362fc;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
  border-radius: 15px;
  border-width: 6px;
}

#cfgerr {
  background: rgba(255, 0, 0, 0.4);
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: @foreground;
}

#box {
  background: rgba(0, 0, 0, 0.916);
  padding: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border: 1px solid lighter(@main_color);
  border-radius: 15px;
  border-width: 6px;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}



#list :hover{
  border-radius: 10px;
	background-color:  @main_color;
 	padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#search {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.595),
    0 1px 2px rgb(0, 0, 0);
  background: lighter(@background);
  margin-bottom: 13px;
  padding: 8px;
}

#icon {
  margin-right: 20px;
}

