
window {
    background-color:rgba(11, 49, 218, 0);

}
#inner-box {
	background-color: rgba(10, 10, 10, 0.838);
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 5px;
	margin: 5px;
    margin-bottom: 34px; 
}

button, image {
	background: none;
	border: none;
	box-shadow: none
    
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color:  rgba(4, 54, 107, 0.838)
}

#outer-box {
	margin: 0px
}
