
@define-color main_color #0362fc;
@define-color black #000000;



/* Image for notification color*/
.control-center .notification-row .notification-background .notification..notification-content image,
.control-center .notification-row .notification-background .notification.normal .notification-content image,
.floating-notifications.background .notification-background .notification.low .notification-content image,
.floating-notifications.background .notification-background .notification.normal .notification-content image {
  background-color: unset;
  color: #a9d0ff;
}

/*Color for notificaion text*/
.control-center .notification-row .notification-background .notification.low .notification-content label,
.control-center .notification-row .notification-background .notification.normal .notification-content label,
.floating-notifications.background .notification-background .notification.low .notification-content label,
.floating-notifications.background .notification-background .notification.normal .notification-content label {
  color: @main_color;
}


.notification {
  border-radius: 12px;
  margin: 6px 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
   padding: 0;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 12px;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @black;
  border: 3px solid @main_color;
  color: white;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: rgb(29, 26, 21);
}

.notification-default-action {
  border-radius: 12px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}



/* Main window */
.control-center {
  border: 1px solid lighter(#0362fc);
  border-radius: 15px;
  border-width: 6px;
  -gtk-outline-radius: 1.705rem;
  margin: 7px;
  background-color: #000000;
  padding: 1.023rem;
}

.control-center trough {
  background-color: #000000;
  border-radius: 15px;
 
  min-width: 0.545rem;
  background-color: transparent;  
}

.control-center slider {
  border-radius: 15px;
;
  min-width: 0.273rem;
  min-height: 2.045rem;
  background-color: rgba(0, 0, 0, 0.31);
}

.control-center slider:hover {
  background-color: rgba(0, 0, 0, 0.448);
}

/* title widget */

.widget-title {
  padding: 0.341rem;
  margin: unset;
}

.widget-title label {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 1.364rem;
  color: #e4e1e6;
  margin-left: 0.941rem;
}

.widget-title button {
  border: unset;
  background-color: unset;
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  padding: 0.141rem 0.141rem;
  margin-right: 0.841rem;
}

.widget-title button label {
  font-family: 'Gabarito', sans-serif;
  font-size: 1.0409rem;
  color: #e4e1e6;
  margin-right: 0.841rem;
}

.widget-title button:hover {
  background-color: #0362fc;
}

.widget-title button:active {
  background-color: rgba(128, 128, 128, 0.7);
}

/* Buttons widget */

.widget-buttons-grid {
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  padding: 0.341rem;
  background-color: rgba(28, 28, 34, 0.35);
  padding: unset;
}

.widget-buttons-grid>flowbox {
  padding: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button:first-child {
  margin-left:unset ;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  border:none;
  background-color: unset;
  border-radius: 9999px;
  min-width: 5.522rem;
  min-height: 2.927rem;
  padding: unset;
  margin: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
  font-family: "Materials Symbol Rounded";
  font-size: 1.3027rem;
  color: #e4e1e6;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background-color: #0362fc;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
  /* OnePlus McClaren edition Orange accent */
  background-color: #ffffff;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked label {
  color: #14141B;
}


/* Volume widget */

.widget-volume {
  background-color: rgba(28, 28, 34, 0.35);
  padding: 8px;
  margin: 8px;
  -gtk-outline-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
}

.widget-volume trough {
  /* OnePlus McClaren edition Orange accent */
  border:unset;
  background-color: rgba(128, 128, 128, 0.4);
}


.widget-volume trough slider {
  /* OnePlus McClaren edition Orange accent */
  color:unset;
  background-color: #ff9f34;
  border-radius: 100%;
  min-height: 1.25rem;
}


/* Mpris widget */

.widget-mpris {
  background-color: rgba(28, 28, 34, 0.35);
  padding: 8px;
  margin: 8px;  
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;  
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}